<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Только в отладочной сборке: экраны на выдуманных данных, без входа. -->
        <activity
            android:name="app.maxly.demo.DemoActivity"
            android:exported="true"
            android:theme="@style/Theme.Orbitle"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
